<a href="https://colab.research.google.com/github/OmarHernandezGzz/FCFM-MineriaDeDatos/blob/main/Avance1_PIA_Equipo7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **EQUIPO #7**
* **Grupo:** 001 , Lunes(7:00-10:00)
* **Integrantes:** 
 * 1853256  Trejo Rodriguez Adriana Jackeline
 * 1848627 Villegas Kane Aaron
 * 1866054 Pasillas Moreno Jesus
 * 1855060 Salazar Narvaez Daniela
 * 1850325 Hernandez Gonzalez Omar

---
**BASE PRINCIPAL**

**Heart Failure Prediction**: https://www.kaggle.com/andrewmvd/heart-failure-clinical-data

**2a) Realizar una descripcion sobre el tema donde se desarrolla su base de datos**

La insuficiencia cardíaca en un evento que es causado por las enfermedades cardiovasculares, las cuales son la principal causa de muerte en el mundo desde el año 2000 hasta el 2020, ultimo año regristrado según la OMS, estas enfermedades representan problemas en el corazón y los vasos sanguíneos, pero estas enfermedades pueden ser prevenidas o controladas con ayuda de un estudio sobre los factores que llevan a complicar dichas enfermedades, por lo que la exploracion de estos datos pueden representar una gota de esperanza para muchas personas.

**3a) Que tipo de datos son**

Los datos recolectados vienen expuestos en forma de tablas y gráficas

**3b) Descripcion de las columnas**

**age** - Numeros enteros

**anaemia** - Boolenos

**creatinine_phosphokinase** - mcg/L

**diabetes** - Booleanos

**ejection_fraction** - Porcentaje

**high_blood_pressure** - Boleanos

**platelets** - kiloplatelets/mL

**serum_creatinine** - mg/dL

**serum_sodium** - mEq/L

**sex** - Binario

**smoking** - Booleano

**time** - Numeros enteros (Dias)

**DEATH_EVENT** - Booleano

**4a) Caracteristicas que nos llamaron la atención**

Lo que nos llamó la atención, principalmente, fue que la muerte por enfermedades cardiovasculares es la causa de muerte más común en el mundo; por lo que poder predecir que personas son más susceptibles fue bastante intersante.

Otra característica cautivadora, es también ver bajo que causas una persona con buenos hábitos puede padecer problemas cardiovascualres y, en su contraparte, que una persona con malos hábitos saludables no, ya que esta base de datos tiene un gran numero de variables con las podemos trabajar y creemos que tienen un gran potencial para poder lograr un trabajo interesante y efectivo.

**4b) Beneficio de trabajar con estos datos**

Primeramente nos brindará experiencia en como predecir ciertos eventos, o qué camino podrían llegar a tomar. Algunos otros beneficios serían el agrupamiento de los datos y la relevancia de estos, ver qué datos son más importantes y bajo qué condiciones, hablando mas concretamente de este tema podemos ver que el trabajar con estos datos nos puede llevar a pensar un poco mas sobre el gran impacto que tienen las enfermedades cardiovasculares.

**5a) Objetivo principal (y secundarios en caso de existir)**

Analizar los datos cuidadosamente y poder predecir que pacientes están cercanos a padecer problemas cardiovascular y que tan cerca, asi como los factores mas relacionados a padecer estos problemas asi como los factores menos significativos.

**6a) Preguntas de interés**



*   ¿En que poblacion es mas común la alta presion, hombres o mujeres?


*   ¿Qué porcentaje de hombres y de mujeres mueren por cualquiera de los factores de riesgo? 

*   ¿Cuál es el factor que, combinado con los demás termina en la muerte para la mayor cantidad de individuos, ya sean hombres o mujeres?


*   ¿Entre que edades es más común tener hipertensión?

*   ¿Qué porcentaje de personas logran superar la(s) enfermedad(es) , y que enfermedad(es) padecían?

**7.- Parte de programacion**

In [ ]:
#a) Importar librerias y base de datos
import pandas as pd
import numpy as np
import json
heart = pd.read_csv("heart_failure_clinical_records_dataset.csv")

Aqui importamos la base de datos con la que trabajaremos.

In [ ]:
#b) Visualizar los datos
heart.shape

(299, 13)

Esta funcion nos dice cuantas filas y columnas tiene nuestra base de datos.

In [ ]:
heart.head(3)

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1

[3 rows x 13 columns]

In [ ]:
heart.tail(3)

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[3 rows x 13 columns]

Estas funciones te muestras los primeros 3 y los ultimos 3 datos de la base de datos respectivamente.

In [ ]:
#c) Descripcion basica de columnas
heart.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

Esta funcion nos ayuda a saber el nombre de las columnas de nuestra base de datos.

In [ ]:
heart.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

Esta funcion nos muestra el tipo de dato que tienen los elementos de las columnas.

In [ ]:
heart.isnull().any()

age                         False
anaemia                     False
creatinine_phosphokinase    False
diabetes                    False
ejection_fraction           False
high_blood_pressure         False
platelets                   False
serum_creatinine            False
serum_sodium                False
sex                         False
smoking                     False
time                        False
DEATH_EVENT                 False
dtype: bool

Esta funcion nos indica si en cierta columna hay celdas vacias o datos nulos. True para indicar que hay datos nulos y False para indicar que NO hay datos nulos.

In [ ]:
heart.isnull()

       age  anaemia  creatinine_phosphokinase  ...  smoking   time  DEATH_EVENT
0    False    False                     False  ...    False  False        False
1    False    False                     False  ...    False  False        False
2    False    False                     False  ...    False  False        False
3    False    False                     False  ...    False  False        False
4    False    False                     False  ...    False  False        False
..     ...      ...                       ...  ...      ...    ...          ...
294  False    False                     False  ...    False  False        False
295  False    False                     False  ...    False  False        False
296  False    False                     False  ...    False  False        False
297  False    False                     False  ...    False  False        False
298  False    False                     False  ...    False  False        False

[299 rows x 13 columns]

Esta funcion nos arroja la misma base de datos pero llena de datos boleanos y estos nos indican donde estan las celdas vacias y en donde si hay datos.

In [ ]:
heart.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

Esta funcion nos ayuda a saber cuantos datos nulos o celdas vacias hay en cada columna de nuestra base. Aqui nos podemos dar cuenta de la base de datos con la que trabajaremos no contiene datos nulos en ninguna de sus columnas.

In [ ]:
#del base[]

La función de arriba nos sirve para eliminar las columnas que no nos van a servir. En este caso creemos que todas las columnas de nuestra base son de gran utilidad para nuestro analisis.

In [ ]:
#d)Clasificación de datos
Fallecidos = heart[heart['DEATH_EVENT']==1]

Fallecidos.to_csv('Solo_Fallecidos.csv', index = False)
Fallecidos

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
220  73.0        0                       582  ...        0   198            1
230  60.0        0                       166  ...        0   207            1
246  55.0        0                      2017  ...        0   214            1
262  65.0        1                       258  ...        0   235            1
266  55.0        0                      1199  ...        1   241            1

[96 rows x 13 columns]

Con este código clasificamos los datos para que solo nos muestre las personas fallecidas en el estudio.

In [ ]:
Edad= heart[heart['age']==40]

Edad.to_csv('Solo_jovenes.csv', index = False)
Edad

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
180  40.0        0                       478  ...        0   148            0
189  40.0        0                       244  ...        0   174            0
206  40.0        1                       101  ...        0   187            0
232  40.0        1                       129  ...        0   209            0
242  40.0        0                        90  ...        1   212            0
248  40.0        0                       624  ...        1   214            0
269  40.0        0                       582  ...        0   244            0

[7 rows x 13 columns]

Con este código clasificamos los datos para que solo nos muestre las personas mas jovenes de nuestra base.

**¿Para que me puede servir estas agrupaciones para la práctica siguiente?**
Podemos saber o aproximar el promedio de las personas que fallecen por insuficiencia cardiaca. Tambien pordemos saber si las personas jovenes tienen la misma incidencia que las personas adultas.

In [ ]:
#e)Cambiar nombres de la columnas
heart.rename(columns = {'DEATH_EVENT':'Death'})

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  Death
0    75.0        0                       582  ...        0     4      1
1    55.0        0                      7861  ...        0     6      1
2    65.0        0                       146  ...        1     7      1
3    50.0        1                       111  ...        0     7      1
4    65.0        1                       160  ...        0     8      1
..    ...      ...                       ...  ...      ...   ...    ...
294  62.0        0                        61  ...        1   270      0
295  55.0        0                      1820  ...        0   271      0
296  45.0        0                      2060  ...        0   278      0
297  45.0        0                      2413  ...        1   280      0
298  50.0        0                       196  ...        1   285      0

[299 rows x 13 columns]

Con esta funcion podemos cambiar el nombre de cualquier columna.

In [ ]:
#f)Guardar archivos en agrupaciones
heart.smoking.unique()

array([0, 1])

Esta funcion nos da los valores unicos de cierta columna y asi podremos agruparlos por categorias.

In [ ]:
Fumadores= heart[heart['smoking']==1]

Fumadores.to_csv('Solo_Fumadores.csv', index=False)
Fumadores

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
2    65.0        0                       146  ...        1     7            1
5    90.0        1                        47  ...        1     8            1
7    60.0        1                       315  ...        1    10            1
9    80.0        1                       123  ...        1    10            1
10   75.0        1                        81  ...        1    10            1
..    ...      ...                       ...  ...      ...   ...          ...
292  52.0        0                       190  ...        1   258            0
293  63.0        1                       103  ...        1   270            0
294  62.0        0                        61  ...        1   270            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[96 rows x 13 columns]

Con esta funcion estamos agrupando todos los datos que en la columna "smoking" tienen asignado el numero 1, es decir, las personas que **SI** fuman. Tambien nos muestra cuantas filas tenemos en nuestra nueva base.

In [ ]:
No_Fumadores= heart[heart['smoking']==0]

No_Fumadores.to_csv('Solo_No_Fumadores', index=False)
No_Fumadores

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
6    75.0        1                       246  ...        0    10            1
..    ...      ...                       ...  ...      ...   ...          ...
289  90.0        1                       337  ...        0   256            0
290  45.0        0                       615  ...        0   257            0
291  60.0        0                       320  ...        0   258            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0

[203 rows x 13 columns]

Con esta funcion estamos agrupando todos los datos que en la columna "smoking" tienen asignado el numero 0, es decir, las personas que **NO** fuman. Tambien nos muestra cuantas filas tenemos en nuestra nueva base.

---
**BASE SECUNDARIA**

**Fast Food Restaurants Across America**: https://www.kaggle.com/datafiniti/fast-food-restaurants?select=Datafiniti_Fast_Food_Restaurants.csv

**2a) Realizar una descripcion sobre el tema donde se desarrolla su base de datos**

La comida rápida es muy bien conocida por ser una fácil opción al momento de comer y no tener tiempo, mucho dinero o simplemente no saber cocinar ya que esta es la mejor opción para estos momentos. Además el país conocido por poseer una gran variedad de establecimientos de comida rápida es Estados Unidos y el conocer los estados en el que se encuentran el mayor número de estos establecimientos pueden representar una gran ayuda al momento de querer invertir en construir uno de estos establecimientos, ya que el abrir en uno de estos estados que mayor nímero de establecimientos de comida rápida poseen puede representar una gran ayuda ya que indicaría un gran consumo de este tipo de comida.

**3a) Que tipo de datos son**

Los datos recolectados vienen expuestos en forma de tablas y gráficas

**3b) Descripcion de las columnas**

**id** - Secuencia de numeros y letras

**dateAdded** - Fecha y hora

**dataUpdated** - Fecha y hor

**address** - Direccion 

**categories** - Texto (categoria del establecimiento)

**city** - Texto 

**country** - Texto 

**keys** - Texto largo con letras, numeros y signos

**latitude** - Numero decimal

**longitude** - Numero decimal

**name** - Texto

**postalCode** - Numeros enteros 

**province** - Texto

**sourceURLs** - Texto largo de numero, letras y signos 

**websites** - Texto largo de numero, letras y signos

**4a)Características que nos interesaron de la base datos**

Principalmente nos intereso trabajar con esta base de datos debido a que sabemos que en Estados Unidos predominan los restaurantes de comida rápida y que inclusive desde hace muchos años, este país es reconocido por las grandes cantidades de comida rápida que se producen y consumen, por lo que se pueden abarcar diversos temas a partir de la información brindada, ademas de que en esta base de datos se tiene la direccion exacta de los establecimientos fue algo que encontramos interesante.

**4b)Beneficio de trabajar con esta base de datos**

La gran cantidad de problemáticas que se pueden resolver a través de esta base datos, además de que estas pueden ser de temas muy variados.

**5a)Objetivo final**

Observar en que estado es mas conveniente implementar un nuevo negocio de comida rápida, según la competencia encontrada alrededor.

**6a) Preguntas de interés**



*   ¿Cuál es el restaurante con mayor cantidad de franquicias y en que ciudades están mayormente?

*   ¿En qué año se añadió la mayor cantidad de restaurantes?

**7.- Parte de programacion**

In [ ]:
#a) Importar librerias y base de datos
import pandas as pd
import numpy as np
import json
food = pd.read_csv("FastFoodRestaurants.csv")

Aqui importamos la base de datos con la que trabajaremos.

In [ ]:
#b) Visualizar los datos
food.shape

(10000, 10)

Esta funcion nos dice cuantas filas y columnas tiene nuestra base de datos.

In [ ]:
food.head(3)

                address  ...                                           websites
0           324 Main St  ...  http://mcdonalds.com,http://www.mcdonalds.com/...
1       530 Clinton Ave  ...                              http://www.wendys.com
2  408 Market Square Dr  ...  http://www.frischs.com,https://www.frischs.com...

[3 rows x 10 columns]

In [ ]:
food.tail(3)

                  address  ...                                           websites
9997         1708 Main St  ...                                http://fiveguys.com
9998    67740 Highway 111  ...  http://www.elpolloloco.com,http://elpolloloco.com
9999  5701 E La Palma Ave  ...                             http://www.carlsjr.com

[3 rows x 10 columns]

Estas funciones te muestras los primeros 3 y los ultimos 3 datos de la base de datos respectivamente.

In [ ]:
#c) Descripcion basica de columnas
food.columns

Index(['address', 'city', 'country', 'keys', 'latitude', 'longitude', 'name',
       'postalCode', 'province', 'websites'],
      dtype='object')

Esta funcion nos ayuda a saber el nombre de las columnas de nuestra base de datos.

In [ ]:
food.dtypes

address        object
city           object
country        object
keys           object
latitude      float64
longitude     float64
name           object
postalCode     object
province       object
websites       object
dtype: object

Esta funcion nos muestra el tipo de dato que tienen los elementos de las columnas.

In [ ]:
food.isnull().any()

address       False
city          False
country       False
keys          False
latitude      False
longitude     False
name          False
postalCode    False
province      False
websites       True
dtype: bool

Esta funcion nos indica si en cierta columna hay celdas vacias o datos nulos. True para indicar que hay datos nulos y False para indicar que NO hay datos nulos.

In [ ]:
food.isnull()

      address   city  country   keys  ...   name  postalCode  province  websites
0       False  False    False  False  ...  False       False     False     False
1       False  False    False  False  ...  False       False     False     False
2       False  False    False  False  ...  False       False     False     False
3       False  False    False  False  ...  False       False     False     False
4       False  False    False  False  ...  False       False     False     False
...       ...    ...      ...    ...  ...    ...         ...       ...       ...
9995    False  False    False  False  ...  False       False     False     False
9996    False  False    False  False  ...  False       False     False     False
9997    False  False    False  False  ...  False       False     False     False
9998    False  False    False  False  ...  False       False     False     False
9999    False  False    False  False  ...  False       False     False     False

[10000 rows x 10 columns]

Esta funcion nos arroja la misma base de datos pero llena de datos boleanos y estos nos indican donde estan las celdas vacias y en donde si hay datos.

In [ ]:
food.isnull().sum()

address         0
city            0
country         0
keys            0
latitude        0
longitude       0
name            0
postalCode      0
province        0
websites      465
dtype: int64

Esta funcion nos ayuda a saber cuantos datos nulos o celdas vacias hay en cada columna de nuestra base.

In [ ]:
del food ["websites"]

La función de arriba nos sirve para eliminar las columnas que no nos van a servir. La columna que seleccionamos no nos servira por que tiene muchos datos nulos.

In [ ]:
#d)Clasificación de datos
Mc_Donald = food[food['name']=="McDonald's"]

Mc_Donald.to_csv('Solo_Mc_Donald.csv', index = False)
Mc_Donald

                    address                city  ... postalCode province
0               324 Main St             Massena  ...      13662       NY
3     6098 State Highway 37             Massena  ...      13662       NY
7         401 N Jennings St              Saluda  ...      29138       SC
12          1535 NW 50th St       Oklahoma City  ...      73118       OK
15      301 University Blvd          Louisville  ...      40208       KY
...                     ...                 ...  ...        ...      ...
9962    13749 N Highway 183              Austin  ...      78750       TX
9967       12090 SW Main St            Portland  ...      97223       OR
9969        601 Aberdeen Rd             Hampton  ...      23661       VA
9979      50 New Orleans Rd  Hilton Head Island  ...      29928       SC
9989      1120 S Haynes Ave          Miles City  ...      59301       MT

[1886 rows x 9 columns]

Con este código clasificamos los datos para que solo nos muestre los Mc Donald de US.

In [ ]:
Burger_King = food[food['name']=="Burger King"]

Burger_King.to_csv('Solo_Burger_King.csv', index = False)
Burger_King

                      address           city  ... postalCode province
40               982 Macon St  Warner Robins  ...      31098       GA
41     6060 San Mateo Blvd NE    Albuquerque  ...      87109       NM
46            18000 Bagley Rd      Cleveland  ...      44130       OH
63              225 Grant Ave         Auburn  ...      13021       NY
75                 Co-Op City          Bronx  ...      10475       NY
...                       ...            ...  ...        ...      ...
9950          700 B Dacula Rd         Dacula  ...      30019       GA
9968          114 W Jasper St          Paris  ...      61944       IL
9977        6201 Lapalco Blvd        Marrero  ...      70072       LA
9982       3020 E Sunshine St    Springfield  ...      65804       MO
9984  7100 Coastal Palms Blvd    Panama City  ...      32408       FL

[1154 rows x 9 columns]

Con este código clasificamos los datos para que solo nos muestre los Burger King de US.

**¿Para que me puede servir estas agrupaciones para la práctica siguiente?**
Esta agrupacion nos sirve para saber donde se encuentran la mayor parte de restaurantes de comida rapida en US.

In [ ]:
#e)Cambiar nombres de la columnas
food.rename(columns = {'postalCode':'Id_Postal'})

                    address                    city  ... Id_Postal province
0               324 Main St                 Massena  ...     13662       NY
1           530 Clinton Ave  Washington Court House  ...     43160       OH
2      408 Market Square Dr               Maysville  ...     41056       KY
3     6098 State Highway 37                 Massena  ...     13662       NY
4           139 Columbus Rd                  Athens  ...     45701       OH
...                     ...                     ...  ...       ...      ...
9995  3013 Peach Orchard Rd                 Augusta  ...     30906       GA
9996      678 Northwest Hwy                    Cary  ...     60013       IL
9997           1708 Main St                Longmont  ...     80501       CO
9998      67740 Highway 111          Cathedral City  ...     92234       CA
9999    5701 E La Palma Ave                 Anaheim  ...     92807       CA

[10000 rows x 9 columns]

Con esta funcion podemos cambiar el nombre de cualquier columna.

In [ ]:
#f)Guardar archivos en agrupaciones
food.city.unique()

array(['Massena', 'Washington Court House', 'Maysville', ..., 'Chatham',
       'Miles City', 'East Chicago'], dtype=object)

Esta funcion nos da los valores unicos de cierta columna y asi podremos agruparlos por categorias.

In [ ]:
Cincinnati = food[food['city']=='Cincinnati']

Cincinnati.to_csv('Solo_Cincinnati.csv', index=False)
Cincinnati

                     address        city  ... postalCode province
101       3515 Springdale Rd  Cincinnati  ...      45251       OH
102          7720 Laurel Ave  Cincinnati  ...      45243       OH
813   11575 Springfield Pike  Cincinnati  ...      45246       OH
814       400 Northland Blvd  Cincinnati  ...      45240       OH
815         11960 Lebanon Rd  Cincinnati  ...      45241       OH
...                      ...         ...  ...        ...      ...
7164         2692 Madison Rd  Cincinnati  ...      45208       OH
8033            4911 Vine St  Cincinnati  ...      45217       OH
8896   4810 Spring Grove Ave  Cincinnati  ...      45232       OH
9055      4432 Montgomery Rd  Cincinnati  ...      45212       OH
9838          1600 Walnut St  Cincinnati  ...      45202       OH

[119 rows x 9 columns]

Con esta funcion estamos agrupando todos los datos que en la columna "city" tiene asignada la ciudad de "Cincinnati". Tambien nos muestra cuantas filas tenemos en nuestra nueva base.

In [ ]:
Las_Vegas= food[food['city']=='Las Vegas']

Las_Vegas.to_csv('Solo_Las_Vegas.csv', index=False)
Las_Vegas

                      address       city  ... postalCode province
183               1501 7th St  Las Vegas  ...      87701       NM
1327          6375 S Pecos Rd  Las Vegas  ...      89120       NV
2481   8050 Dean Martin Drive  Las Vegas  ...      89139       NV
3375  4604 W Sahara Ave Ste 1  Las Vegas  ...      89102       NV
4020           1335 Grand Ave  Las Vegas  ...      87701       NM
...                       ...        ...  ...        ...      ...
9651    7530 W Washington Ave  Las Vegas  ...      89128       NV
9738    3850 Las Vegas Blvd S  Las Vegas  ...      89109       NV
9741       5795 S Eastern Ave  Las Vegas  ...      89119       NV
9795       1040 E Flamingo Rd  Las Vegas  ...      89119       NV
9796    6150 Las Vegas Blvd S  Las Vegas  ...      89119       NV

[72 rows x 9 columns]

Con esta funcion estamos agrupando todos los datos que en la columna "city" tiene asignada la ciudad de "Las Vegas". Tambien nos muestra cuantas filas tenemos en nuestra nueva base.